@font-face {
  font-family: "Dosis";
  src: url(../assets/Dosis/Dosis-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Playfair Display";
  src: url(../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
body {
  background-color: #f5ecda;
}

header .tituloPrincipal {
  font-size: 500%;
}
header h1 {
  font-family: "Playfair Display";
  color: #734691;
  text-align: center;
  font-size: 350%;
  animation-duration: 2s;
}
header form {
  width: 25%;
}
header .anchoImagen {
  width: 100%;
  height: 800px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  margin-bottom: 5%;
  margin-top: 0%;
}
header .formBuscador {
  margin-top: 3%;
  margin-bottom: 0%;
  justify-content: flex-end;
  display: flex;
  width: 18%;
  margin-left: 25%;
}
header .menuLinks {
  list-style-type: none;
  font-family: "Dosis";
  display: flex;
  flex-flow: row;
  margin: 0px;
  font-size: 20px;
  padding: 20px 10px;
  margin-bottom: 1%;
  margin-top: 1%;
  justify-content: center;
  justify-items: center;
}
header .menuLinks li {
  margin: 40px 40px 40px 40px;
  margin-bottom: 0%;
  justify-items: center;
  color: #f5ecda;
  background-color: #32502a;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 2%;
}
header .menuLinks li:hover {
  background-color: #c3a9da;
  color: #734691;
}

main h1 {
  color: #734691;
  font-family: "Playfair Display";
}
main .textIndex {
  align-items: center;
  line-height: 50px;
  text-align: center;
  font-size: 150%;
  font-family: "Dosis";
  font-style: normal;
  margin-bottom: 5%;
  margin-top: 5%;
  color: #734691;
}
main .textoPrincipal {
  font-size: 140%;
  font-family: "Dosis";
  font-style: normal;
  margin-bottom: 8%;
  color: #734691;
  text-align: center;
}
main h2 {
  text-align: center;
  color: #f5ecda;
  font-family: "Playfair Display";
  background-color: #32502a;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
}
main p {
  color: #c3a9da;
  font-family: "Dosis";
  font-size: 18px;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
  padding: 20px;
}
main .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #32502a;
  border-radius: 8px;
  box-shadow: 0px 1px 20px -1px gray;
}
main .formularios {
  align-items: center;
  text-align: center;
}
main .preguntasFrecuentes {
  text-align: center;
  margin-bottom: 5%;
}
main .subtitulos {
  color: #32502a;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 3%;
}
main .nosotrasImg {
  border-radius: 10%;
  border-color: #32502a;
  border-style: solid;
  margin-bottom: 3%;
  margin-top: 2%;
  align-items: start;
}
main .containerNosotras {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
}
main .contact {
  text-align: center;
  margin-bottom: 2%;
}
main .textoNosotras {
  background-color: #32502a;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #32502a;
  width: 100%;
  margin: 170px auto;
  text-align: left;
  height: 200px;
}
main .textoNosotras1 {
  background-color: #32502a;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #32502a;
  width: 100%;
  margin: 140px auto;
  text-align: left;
  height: 250px;
}
main .textoNosotras2 {
  background-color: #32502a;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid #32502a;
  width: 100%;
  margin: 150px auto;
  text-align: left;
  height: 300px;
}
main .btn-custom {
  background-color: #32502a;
  color: #ffffff;
  border-color: #32502a;
}
main .btn-custom:hover {
  background-color: #c3a9da;
  color: #734691;
}

.botones {
  background-color: #32502a;
  color: #ffffff;
  border-style: solid;
  border-color: #32502a;
  margin-top: 5%;
  margin-bottom: 10%;
  justify-content: center;
  font-family: "Dosis";
}

.botones:hover {
  background-color: #c3a9da;
  color: #734691;
}

.botonSearch {
  background-color: #32502a;
  font-family: "Dosis";
  color: #ffffff;
  margin-bottom: 0%;
}

.botonSearch:hover {
  background-color: #c3a9da;
  color: #734691;
}

footer {
  background-color: #32502a;
}

.textoFooter {
  color: #734691;
  font-family: "Dosis";
  font-size: 300%;
}

.textoFooter2 {
  font-family: "Dosis";
  color: #ffffff;
  font-size: 110%;
}

@media (max-width: 576px) {
  body main .grid-container {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    grid-template-columns: repeat(1, 2fr);
  }
  body main .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  body main .containerNosotras {
    display: grid;
    flex-direction: column-reverse;
    align-items: center;
    grid-template-columns: repeat(1, 2fr);
    font-size: 20px;
  }
  body main .nosotrasImg {
    width: 100%;
    height: 300px;
    margin-bottom: 0%;
  }
  body main .textoPrincipal {
    font-size: large;
  }
  body main form {
    width: 50%;
  }
  body main h2 {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  body main .textIndex {
    font-size: large;
    padding-bottom: 7%;
  }
  body main .textoNosotras1 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  body main .textoNosotras2 {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  body main .textoNosotras {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
@media (max-width: 576px) {
  header .anchoImagen {
    width: 100%;
    height: 250px;
    border-style: solid;
    margin-bottom: 1%;
  }
  header .formBuscador {
    width: 65%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  header .menuLinks {
    font-size: 18px;
    padding: 20px 10px;
    font-family: "Dosis";
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
