body{   
    background-color: $colorfondo;
}


header{

    .tituloPrincipal{   
        font-size: 500%;
    }

    h1{ 
        font-family: $fuentetitulos;
        color: $colorsecundario;
        text-align: center;
        font-size: 350%;
        animation-duration: 2s;
    }

    form{   
        width: 25%;
    }

    .anchoImagen{   
        width: 100%;
        height: 800px;
        border-style: solid;
        border-width: 2px;
        border-color: $colorbordeheader;
        margin-bottom: 5%;
        margin-top: 0%;
    }
    .formBuscador{  
        margin-top: 3%;
        margin-bottom: 0%;
        justify-content: flex-end;
        display: flex;
        width: 18%;
        margin-left: 25%;
    }
    .menuLinks{ 
        list-style-type: none;
        font-family: $fuenteTextos;
        display: flex;
        flex-flow: row;
        margin: 0px;
        font-size: 20px;
        padding: 20px 10px;
        margin-bottom: 1%;
        margin-top: 1%;       
        justify-content: center;
        justify-items: center;
        
    }
    .menuLinks li { 
        margin: 40px 40px 40px 40px;
        margin-bottom: 0%;
        justify-items: center;
        color: $colorfondo;
        background-color: $colorfooter;
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 2%;
    }
    .menuLinks li:hover{    
        background-color: $colorterciario;
        color: $colorsecundario;
        
    }
}    
main{ 
    h1{ 
        color: $colorsecundario;
        font-family: $fuentetitulos;
    }  
    .textIndex{ 
       
       align-items: center;
       line-height:50px;
       text-align:center;
       font-size: 150%; 
       font-family: $fuenteTextos;
       font-style:normal;
       margin-bottom: 5%;
       margin-top: 5%;       
       color: $colorsecundario;
    }
    .textoPrincipal{    
       font-size:140%; 
       font-family: $fuenteTextos;
       font-style: normal;
       margin-bottom: 8%;
       
       color: $colorsecundario;
       text-align:center;
    }
    h2{ 
        text-align: center;
        color: $colorfondo;
        font-family: $fuentetitulos;
        background-color: $colorfooter;
        padding: 10px 20px; 
        border-radius: 15px;
        display: inline-block;
    }
    p{  
        color: $colorterciario;
        font-family: $fuenteTextos;
        font-size: 18px;
    }
    .grid-container{    
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 20px;
        padding: 20px;
    }
    .grid-item {    
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $colorprimario;
        padding: 10px;
        border: 1px solid $colorfooter;
        border-radius: 8px; 
        box-shadow: 0px 1px 20px -1px gray;
    }
    .formularios{   
        align-items: center;
        text-align: center;
    }
    .preguntasFrecuentes{   
        text-align: center;
        margin-bottom: 5%;
    }
    .subtitulos{    
        color: $colorfooter;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 3%;
    }
    .nosotrasImg{    
        border-radius: 10%;
        border-color: $colorfooter;
        border-style: solid;
        margin-bottom: 3%;
        margin-top: 2%;
        align-items: start;
        
    }
    .containerNosotras{ 
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        padding: 20px;

    }
  
    .contact{   
        text-align: center;
        margin-bottom: 2%;
    }
    .textoNosotras{ 
        background-color: $colorfooter; 
        border-radius: 15px;
        padding: 20px; 
        border: 1px solid $colorfooter; 
        width: 100%; 
        margin: 170px auto; 
        text-align:left; 
        height: 200px;    
        
    }
    .textoNosotras1{    
        background-color: $colorfooter; 
        border-radius: 15px; 
        padding: 20px; 
        border: 1px solid $colorfooter; 
        width: 100%; 
        margin: 140px auto; 
        text-align: left;
        height: 250px;
        
    }
    .textoNosotras2{    
        background-color: $colorfooter; 
        border-radius: 15px; 
        padding: 20px; 
        border: 1px solid $colorfooter; 
        width: 100%; 
        margin: 150px auto;
        text-align: left;
        height: 300px;
    }
    .btn-custom{    
        background-color: $colorfooter;
        color: $colorprimario;
        border-color: $colorfooter;
    }
    .btn-custom:hover{   
        background-color: $colorterciario;
        color: $colorsecundario;
    } 

}
.botones{   
    background-color: $colorfooter;
    color: $colorprimario;
    border-style: solid;
    border-color: $colorfooter;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: center;
    font-family: $fuenteTextos;
}
.botones:hover{ 
    background-color: $colorterciario;
    color: $colorsecundario;
}
.botonSearch{
    background-color: $colorfooter;
    font-family: $fuenteTextos;
    color:$colorprimario;
    margin-bottom: 0%;
}
.botonSearch:hover{   
    background-color: $colorterciario;
    color:$colorsecundario
}
footer{ 
    background-color: $colorfooter;
}   
.textoFooter{  
    color: $colorsecundario;
    font-family: $fuenteTextos;
    font-size: 300%;
    
}
.textoFooter2{  
    font-family: $fuenteTextos;
    color:$colorprimario;
    font-size: 110%;
}
