body{   
    background-color: #f5ecda;
}


header{
    .tituloPrincipal{   
        font-size: 500%;
    }

    h1{ 
        font-family: $fuentetitulos;
        color: $colorsecundario;
        text-align: center;
        font-size: 350%;
        animation-duration: 2s;
    }

    form{   
        width: 50%;
    }

    .anchoImagen{   
        width: 100%;
        height: 800px;
        border-style: solid;
        border-width: 2px;
        border-color: $colorbordeheader;
        margin-bottom: 5%;
    }

}

main{ 
    h1{ 
        color: $colorsecundario;
        font-family: $fuentetitulos;
    }  
    .textIndex{ 
       display: flex;
       flex-direction: column;
       align-items: center;
       line-height:50px;
       text-align:center;
       font-size: 180%; 
       font-family: $fuenteTextos;
       font-style: italic;
       margin-bottom: 5%;
       margin-top: 5%;
       
       color: $colorterciario;
    }
    .textoPrincipal{    
       font-size:180%; 
       font-family: $fuenteTextos;
       font-style: italic;
       margin-bottom: 8%;
       
       color: $colorterciario;
       text-align:center;
    }
    h2{ 
        text-align: center;
        color: $colorsecundario;
        font-family: $fuentetitulos;
        background-color: $colorfooter;
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 15px;
        display: inline-block;
    }
    p{  
        color: $colorsecundario;
        font-family: $fuenteTextos;
        font-size:x-large;
    }
    .grid-container{    
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: 20px;
        padding: 20px;
    }
    .grid-item {    
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $colorprimario;
        padding: 10px;
        border: 1px solid $colorfooter;
        border-radius: 8px; 
    }
    .formularios{   
        align-items: center;
        text-align: center;
    }
    .preguntasFrecuentes{   
        text-align: center;
        margin-bottom: 5%;
    }
    .subtitulos{    
        color: $colorfooter;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 3%;
    }
    .nosotrasImg{    
        border-radius: 10%;
        border-color: $colorfooter;
        border-style: solid;
        margin-bottom: 3%;
        margin-top: 2%;
        align-items: start;
        
    }
    .containerNosotras{ 
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        padding: 20px;

    }
    .textoNosotras{ 
        background-color: $colorfooter; /* Color de fondo*/
        border-radius: 15px; /* Bordes redondeados */
        padding: 20px; /* Espacio interno */
        border: 1px solid $colorfooter; /* Borde gris claro */
        width: 100%; /* Ancho del contenedor */
        margin: 170px auto; /* Centrar el contenedor */
        text-align:left; /* Centrar el texto */
        height: 200px;

    }
    .textoNosotras1{    
        background-color: $colorfooter; /* Color de fondo gris claro */
        border-radius: 15px; /* Bordes redondeados */
        padding: 20px; /* Espacio interno */
        border: 1px solid $colorfooter; /* Borde gris claro */
        width: 100%; /* Ancho del contenedor */
        margin: 140px auto; /* Centrar el contenedor */
        text-align: left;
        height: 250px;
        
    }
    .textoNosotras2{    
        background-color: $colorfooter; /* Color de fondo gris claro */
        border-radius: 15px; /* Bordes redondeados */
        padding: 20px; /* Espacio interno */
        border: 1px solid $colorfooter; /* Borde gris claro */
        width: 100%; /* Ancho del contenedor */
        margin: 150px auto; /* Centrar el contenedor */
        text-align: left;
        height: 300px;
    }
    .contact{   
        text-align: center;
        margin-bottom: 2%;
    }
    
}
.botones{   
    background-color: $colorfooter;
    color: $colorprimario;
    border-style: solid;
    border-color: $colorfooter;
    margin-top: 5%;
    margin-bottom: 10%;
    justify-content: center;
    font-family: $fuenteTextos;
}
.botonSearch{
    background-color: $colorfooter;
    font-family: $fuenteTextos;
    color:$colorprimario;
}
footer{ 
    background-color: $colorfooter;
}   
.textoFooter{  
    color: $colorsecundario;
    font-family: $fuenteTextos;
    font-size: 300%;
    
}
.textoFooter2{  
    font-family: $fuenteTextos;
    color:$colorprimario;
    font-size: 110%;
}

.navbar-nav .nav-link {
    font-size: 18px; 
    padding: 20px 10px; 
    font-family: $fuenteTextos;
  }
