$colorprimario: #ffffff;
$colorsecundario: #734691;
$colorterciario: #c3a9da;
$colorfooter: #32502a;
$colorbordeheader: #000000;
$colorfondo: #f5ecda;
$fuentetitulos: "Playfair Display";
$fuenteTextos: "Dosis";

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
